body, html {
    padding: 0;
    margin: 0;
    text-align: center;
}

#form {
    margin-bottom: 10%;
    margin-top: 10%;
}

#h1-title {
    margin-top: 30px;
    font-family: 'Baloo Chettan', cursive;
}

#notifies {
    position:fixed;
    width:auto;
    height:auto;
    top:0;
    right:0;
}

.wrapper-results {
    margin: auto;
    width: 60%;
    padding: 10px;
    display: none;
}

#imgs-results {
    display: none;
}

.result {
    height: auto;
    width: 512px;
    margin: auto;
    padding-top: 20px;
    background-color: #4c505426;
}

.metrics-wrapper {
    margin-left: 76%;
    margin-bottom: 5%;
}

#results-metrics {
    display: none;
}

#results-metrics > p {
   font-size: 2.1vw;
}

.form-result {
    background-color: #4c505426;
}

.wrapper-result {

}

#formLoad {
    margin-right: 20%;
    margin-left: 20%;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 101;
  display: none;
}

#mask {
    background-color:rgba(0,0,0,.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
    display: none;
}

.outputImg img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    border: 3px solid white;
}

h1 {
    text-align: center;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: white;
  border: 1px solid black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Carousel items*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}

/* Resizing image on click*/

a.miniBox img {
/*    height: 150px;*/
/*margin: 94px 20px 20px 20px;*/
}

.miniBox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    z-index: 1000;
}

.miniBox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
}

.miniBox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
}

.miniBox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
